{% extends "front.html.twig" %}

{% block titre %} Modification Employe {% endblock %}

{% block body %}
    <main class="container">
    <h1>Modification Employe</h1>
        {{ form(form) }}
        {% for message in  app.flashes("message") %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </main>
{% endblock %}